<mat-card class="calidda-card">
  <mat-card-header>
    <mat-card-title>
      <h2>Cliente</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="card-content">
    <form [formGroup]="forma" *ngIf="forma">
      <section class="form_material">
        <div class="form_inputs top_align">
          <div>
            <mat-form-field>
              <input type="text" matInput placeholder="Nombre(s)" formControlName="nombres" />
            </mat-form-field>
            <mat-form-field>
              <mat-select
                matInput
                placeholder="Tipo Documento"
                formControlName="tipoDocumento"
                (selectionChange)="tipoDocumentoChange($event.value)"
              >
                <mat-option *ngFor="let option of clienteActual.tiposDocumento" [value]="option.value">
                  {{ option.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-select
                matInput
                placeholder="Tipo Telefono"
                formControlName="tipoTelefono"
                (selectionChange)="tipoTelefonoChange($event.value)"
              >
                <mat-option *ngFor="let option of clienteActual.tiposTelefono" [value]="option.value">
                  {{ option.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input type="text" matInput placeholder="Correo" formControlName="correo" />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input type="text" matInput placeholder="Apellido(s)" formControlName="apellidos" />
            </mat-form-field>
            <mat-form-field>
              <input
                type="text"
                matInput
                placeholder="N° Documento"
                formControlName="nroDocumento"
                [textMask]="maskDocumento"
                [maxlength]="longitudDocumento"
                [minlength]="longitudDocumento"
              />
            </mat-form-field>
            <div
              id="prefijonro"
              class="{{ visibilidad }} mat-form-field"
              style="padding-left: 7px; padding-right: 7px; padding-bottom: 5px; width: 39px; border-bottom: 1px solid rgba(0,0,0,.42);"
            >
              01 -
            </div>
            <mat-form-field style="width: 90%">
              <input
                type="text"
                matInput
                formControlName="nroTelefono"
                placeholder="Número de telefono"
                maxlength="{{ lenghtValidacion }}"
                minlength="{{ lenghtValidacion }}"
              />
            </mat-form-field>
          </div>
        </div>
        <section class="form_material">
          <div class="form_inputs top_align">
            <div>
              <p-table [value]="clienteActual.cuentasContrato" *ngIf="clienteActual.cuentasContrato.length > 0">
                <ng-template pTemplate="header">
                  <tr>
                    <th>N°</th>
                    <th>Direccion</th>
                    <th>Cuenta Corriente</th>
                    <th>Estado</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-cuenta let-index="rowIndex">
                  <tr>
                    <td>{{ index + 1 }}</td>
                    <td>{{ cuenta.direccion }}</td>
                    <td>{{ cuenta.cuentaCorriente }}</td>
                    <td>{{ cuenta.estado }}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </section>
        <div class="form_buttons">
          <div class="buttons_actions">
            <button
              type="submit"
              (click)="onSubmit()"
              id="submit"
              [disabled]="!forma.valid"
              mat-raised-button
              color="btnCeleste"
            >
              <mat-icon>save</mat-icon> Guardar
            </button>
            <button id="cancel" (click)="cancelar()" mat-raised-button color="btnGris">
              <mat-icon>block</mat-icon> Cancelar
            </button>
          </div>
        </div>
      </section>
    </form>
  </mat-card-content>
</mat-card>
