<form [formGroup]="formGroup">
  <mat-card class="calidda-card">
    <mat-card-header>
      <mat-card-title>
        <h2>Búsqueda de Financiamiento</h2>
        
        <mat-menu #menu="matMenu" xPosition="before"> </mat-menu>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <section class="form_material" *ngIf="financiamientoInit">
        <div class="form_inputs">
          <div>
            <mat-form-field>
              <mat-select placeholder="Estado Financiamiento" formControlName="estado"
                (selectionChange)="dt.filter($event.value, 'estado', 'equals')">
                <mat-option>TODOS</mat-option>
                <mat-option *ngFor="let item of financiamientoInit.estados" [value]="item.value">{{ item.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <input matInput [matDatepicker]="pickers1" formControlName="fechaVenta" placeholder="Fecha de venta inicio"
                (dateChange)="filterFechaVenta($event)" dateFormat="dd/MM/yyyy" />
              <mat-datepicker-toggle matSuffix [for]="pickers1"></mat-datepicker-toggle>
              <mat-datepicker #pickers1></mat-datepicker>
            </mat-form-field>


            <mat-form-field>
              <input matInput [matDatepicker]="pickers2" formControlName="fechaVenta" placeholder="Fecha de entrega inicio"
                (dateChange)="filterFechaVenta($event)" dateFormat="dd/MM/yyyy" />
              <mat-datepicker-toggle matSuffix [for]="pickers2"></mat-datepicker-toggle>
              <mat-datepicker #pickers2></mat-datepicker>

              
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Cuenta Contrato" 
                (change)="dt.filter($event.srcElement.value, 'nroContrato', 'contains')" />
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="N° Contrato Financiamiento" formControlName="nroContrato"
                (change)="dt.filter($event.srcElement.value, 'nroContrato', 'contains')" />
            </mat-form-field>

            <!-- <mat-select placeholder="Aliado Comercial" -->
            <mat-form-field>
              <mat-select placeholder="Responsable de venta"
                [disabled]="(!EsProveedor && !this._global.isAdministradorWeb()) || hasSede" formControlName="aliadoId" matInput
                (selectionChange)="change($event)">
                <mat-option>TODOS</mat-option>
                <mat-option *ngFor="let aliado of financiamientoInit.aliados" [value]="aliado.value">
                  {{ aliado.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Aliado Comercial" [disabled]="idAliadoComercial && EsProveedor"
                formControlName="proveedorId" matInput (selectionChange)="changeProveedor($event)">
                <mat-option>TODOS</mat-option>
                <mat-option *ngFor="let proveedor of financiamientoInit.proveedores" [value]="proveedor.value">
                  {{ proveedor.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field style="width: 20% !important; margin-right: 5%">
              <mat-select placeholder="Tipo Documento" formControlName="tipoDocumento" matInput
                (selectionChange)="changeTipoDoc($event); dt.filter($event.value, 'tipoDocumento', 'equals')">
                <mat-option>TODOS</mat-option>
                <mat-option *ngFor="let tipoDocumento of financiamientoInit.tiposDocumento"
                  [value]="tipoDocumento.value">
                  {{ tipoDocumento.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field style="width: 75% !important">
              <input matInput formControlName="nroDocumento" placeholder="Número de documento"
                pattern="{{ tipoValidacion }}"
                (change)="dt.filter($event.srcElement.value, 'nroDocumento', 'contains')" />
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Categoría" matInput formControlName="idCategoria"
                (selectionChange)="dt.filter($event.value, 'idCategoria', 'equals')">
                <mat-option>TODOS</mat-option>
                <mat-option *ngFor="let categoria of financiamientoInit.categorias" [value]="categoria.value">
                  {{ categoria.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-select placeholder="Canal de Venta" formControlName="canalId"
                (selectionChange)="dt.filter($event.value, 'canalVentaId', 'equals')">
                <mat-option>TODOS</mat-option>
                <mat-option *ngFor="let item of financiamientoInit.canales" [value]="item.value">{{ item.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <!--

            <mat-form-field>
              <input matInput [matDatepicker]="pickers2" formControlName="fechaEntrega" placeholder="Fecha de entrega"
                (dateChange)="filterFechaEntrega($event)" dateFormat="dd/MM/yyyy" />
              <mat-datepicker-toggle matSuffix [for]="pickers2"></mat-datepicker-toggle>
              <mat-datepicker #pickers2></mat-datepicker>
            </mat-form-field>-->

            <mat-form-field>
              <input matInput [matDatepicker]="pickers4" formControlName="fechaVenta" placeholder="Fecha de venta fin"
                (dateChange)="filterFechaVenta($event)" dateFormat="dd/MM/yyyy" />
              <mat-datepicker-toggle matSuffix [for]="pickers4"></mat-datepicker-toggle>
              <mat-datepicker #pickers4></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
              <input matInput [matDatepicker]="pickers3" formControlName="fechaVenta" placeholder="Fecha de entrega fin"
                (dateChange)="filterFechaVenta($event)" dateFormat="dd/MM/yyyy" />
              <mat-datepicker-toggle matSuffix [for]="pickers3"></mat-datepicker-toggle>
              <mat-datepicker #pickers3></mat-datepicker>
            </mat-form-field>


            <mat-form-field>
              <input matInput placeholder="Número de pedido" formControlName="nroPedido"
                (change)="dt.filter($event.srcElement.value, 'nroPedido', 'contains')" />
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Sede" matInput formControlName="sedeId" [disabled]="idSede" [value]="idSede"
                [disabled]="idSede" [value]="idSede" (selectionChange)="dt.filter($event.value, 'sedeId', 'equals')">
                <mat-option>TODOS</mat-option>
                <mat-option *ngFor="let sede of financiamientoInit.sedes" [value]="sede.value">
                  {{ sede.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="{{ ViewUserResto }}">
              <mat-form-field>
                <input matInput required type="text" placeholder="Vendedor" formControlName="vendedor"
                  [matAutocomplete]="auto" />
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="filterVendedor($event.option.value.label)"
                  [displayWith]="displayFn">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{ option.label }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="{{ ViewUserVendedor }}">
              <mat-form-field>
                <input placeholder="Vendedor" matInput readonly disabled value="{{ NombreCompleto }}" />
              </mat-form-field>
            </div>
            <button *ngIf="showExportar" type="button" id="exportar" mat-raised-button color="btnCeleste"
              (click)="exportar()">
              <i class="fas fa-file-excel"></i> Exportar
            </button>
          </div>
        </div>
      </section>
    </mat-card-content>
  </mat-card>
  
  <mat-card class="calidda-card">
    <mat-card-content class="card-content">
      <section class="form_material">
        <div class="content_material px-0">
          <app-paging-grid #dt [dataEntity]="dataEntity" (paginationLoad)="loadLazy($event)"></app-paging-grid>
        </div>
      </section>
    </mat-card-content>
  </mat-card>
</form>
