<div class="card-dash card">
  <div class="content-dash">
    <div class="row-dash">
      <div class="texto-dash">
        <p class="p-dash">{{ title }}</p>
      </div>
      <div class="porcentaje-dash">
        <div class="round-dash-stats" [style.background-color]="colorStats">
          <i class="fa fa-chart-line icon-dash" color="color-dash" aria-hidden="true"></i>
          <div>{{ statsDash }}%</div>
        </div>
      </div>
    </div>
    <div class="content-dash-value">
      <div class="stats-dash">
        {{ valueDash }}
      </div>
    </div>
  </div>
</div>
