<mat-card-header>
  <mat-card-title>
    <h2>Cuotas</h2>
  </mat-card-title>
</mat-card-header>

<section class="form_material">
  <div class="content_material">
    <div class="datos_test">
      <div class="content_test" *ngIf="planCuotas">
        <div>3 cuotas</div>
        <div><input disabled matInput id="c3u" [value]="planCuotas.cuota3" /></div>
      </div>
      <div class="content_test">
        <div>6 cuotas</div>
        <div><input disabled matInput id="c6u" [value]="planCuotas.cuota6" /></div>
      </div>
      <div class="content_test">
        <div>9 cuotas</div>
        <div><input disabled matInput id="c9u" [value]="planCuotas.cuota9" /></div>
      </div>
      <div class="content_test">
        <div>12 cuotas</div>
        <div><input disabled matInput id="c12u" [value]="planCuotas.cuota12" /></div>
      </div>
      <div class="content_test">
        <div>18 cuotas</div>
        <div><input disabled matInput id="c18u" [value]="planCuotas.cuota18" /></div>
      </div>
      <div class="content_test">
        <div>24 cuotas</div>
        <div><input disabled matInput id="c24u" [value]="planCuotas.cuota24" /></div>
      </div>
      <div class="content_test">
        <div>36 cuotas</div>
        <div><input disabled matInput id="c36u" [value]="planCuotas.cuota36" /></div>
      </div>
      <div class="content_test">
        <div>48 cuotas</div>
        <div><input disabled matInput id="c48u" [value]="planCuotas.cuota48" /></div>
      </div>
      <div class="content_test">
        <div>60 cuotas</div>
        <div><input disabled matInput id="c60u" [value]="planCuotas.cuota60" /></div>
      </div>
    </div>
  </div>
</section>
